In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('D:/yanna/dengue/DENGBR16.csv')

C:\Users\praca\AppData\Local\Temp\ipykernel_11972\3280458472.py:1: DtypeWarning: Columns (6,9,10,18,21,22,64,68,75) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('D:/yanna/dengue/DENGBR16.csv')

In [3]:
df.head()

,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,ID_UNIDADE,DT_SIN_PRI,...,LACO_N,PLASMATICO,EVIDENCIA,PLAQ_MENOR,CON_FHD,COMPLICA,TP_SISTEMA,NDUPLIC_N,CS_FLXRET,FLXRECEBI
0,2,A90,20161208,201649,2016,12,120040,1938.0,7530684.0,20161206,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
1,2,A90,20160220,201607,2016,12,120040,1938.0,6439837.0,20160219,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
2,2,A90,20160214,201607,2016,12,120001,1938.0,5701929.0,20160213,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
3,2,A90,20160218,201607,2016,12,120040,1938.0,6439837.0,20160217,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
4,2,A90,20160606,201623,2016,12,120020,1941.0,2002914.0,20160602,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN

In [4]:
memory = df.memory_usage(deep = True)

In [5]:
print(memory)

Index               132
TP_NOT         18384160
ID_AGRAVO     137881200
DT_NOTIFIC     18384160
SEM_NOT        18384160
                ...
COMPLICA       18384160
TP_SISTEMA     18384160
NDUPLIC_N      18384160
CS_FLXRET      18384160
FLXRECEBI      18384160
Length: 120, dtype: int64

In [6]:
memory.sum() / (1024**3)

4.371119696646929

In [7]:
dengue16 = df.loc[0:, ['NU_ANO', 'SG_UF_NOT', 'ID_MUNICIP', 'MUNICIPIO', 'UF', 'DT_OBITO']]

In [8]:
dengue16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2298020 entries, 0 to 2298019
Data columns (total 6 columns):
 #   Column      Dtype
---  ------      -----
 0   NU_ANO      int64
 1   SG_UF_NOT   int64
 2   ID_MUNICIP  object
 3   MUNICIPIO   object
 4   UF          float64
 5   DT_OBITO    object
dtypes: float64(1), int64(2), object(3)
memory usage: 105.2+ MB

In [16]:
dengue16.set_index(['NU_ANO'], inplace = True)

KeyError: "None of ['NU_ANO'] are in the columns"

In [17]:
dengue16.fillna(0)

        SG_UF_NOT ID_MUNICIP MUNICIPIO   UF  DT_OBITO
NU_ANO
2016           12     120040         0  0.0
2016           12     120040         0  0.0
2016           12     120001         0  0.0
2016           12     120040         0  0.0
2016           12     120020         0  0.0
...           ...        ...       ...  ...       ...
2016           35     355030         0  0.0
2016           35     355030         0  0.0
2016           35     355030         0  0.0
2016           35     355030         0  0.0
2016           35     355030         0  0.0

[2298020 rows x 5 columns]

In [18]:
dengue16.to_csv('DENG16_TRATADO.csv')

In [12]:
memory2 = dengue16.memory_usage(deep = True)

In [13]:
memory2

Index          18384160
SG_UF_NOT      18384160
ID_MUNICIP     83072565
MUNICIPIO      73542466
UF             18384160
DT_OBITO      149371300
dtype: int64

In [14]:
memory2.sum() / (1024**3)

0.3363367272540927

In [19]:
print(dengue16)

        SG_UF_NOT ID_MUNICIP MUNICIPIO  UF  DT_OBITO
NU_ANO
2016           12     120040       NaN NaN
2016           12     120040       NaN NaN
2016           12     120001       NaN NaN
2016           12     120040       NaN NaN
2016           12     120020       NaN NaN
...           ...        ...       ...  ..       ...
2016           35     355030       NaN NaN
2016           35     355030       NaN NaN
2016           35     355030       NaN NaN
2016           35     355030       NaN NaN
2016           35     355030       NaN NaN

[2298020 rows x 5 columns]